
.login{
    margin-top: 100px;

    /* position: absolute; */
}
.my-login
{
    background-color: rgb(251, 251, 251);
    padding: 20px;
    border-radius: 20px;
    margin-top: 100px;
}
.bg-login{
     width: 100%;
    height: 100vh;
    background-image: url("../img/1.jpg");
    background-size: cover;
}

.bg-login::before{
    background-color: black;
    content: "";
    opacity: 0.7;
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
}
.sidebar{
    height: 100vh;
    width: 15%;
}
.my-sidebar{
    background-color: white;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.my-content{
    width: 80vw;
    height: 96vh;
}
.my-content::before{
    content: "";
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    background-image: url("../img/1.jpg");
    background-size: cover;
}
.my-content::after{
    content: "";
    opacity: 0.7;
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    background-color: black;
}
.nav-link {
    font-size: larger;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    display: block;
}

.nav-item:first-child{
    margin-top: 20px;
}
.fs-4{
    font-weight: 600;
    margin-left: 10px;
}
.my-btn{
    background-color: rgb(8, 49, 198);
    color:white;
    margin: auto;   
}
.fa-house{
    margin-right: 15px;
}
.fa-bell{
    margin-right: 19px;
}
.fa-user-tie{
    margin-right: 19px;
}
.fa-hand{
    margin-right: 18px;
}
.fa-building{
    margin-right: 17px;
}

.my-body{
    width: 80vw;
    height: 96vh;
    background-color: white;
    margin-left: 300px;
    margin-top: 10px;
    border-radius: 10px;
}
.my-add-form{
    width: 50vw;
    background-color: white;
    margin-left: 500px;
    margin-top: 40px;
    border-radius: 10px;
}
.fa-right-from-bracket{
    margin-left: 16px;
}
.fa-right-to-bracket{
    margin-left: 12px;
}
.my-table{
    max-height: 520px;
    overflow-y: auto; 
    overflow-x: hidden;
}
.my-header-table{
    position: sticky;
    top: 0; 

}
input[type="date"] {
    font-size: 16px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
  }
  input[type="date"]:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  }
  input[type="date"]:hover {
    border-color: #999;
  }
