
.login{
    margin-top: 100px;

    /* position: absolute; */
}
.my-login
{
    background-color: rgb(251, 251, 251);
    padding: 20px;
    border-radius: 20px;
    margin-top: 100px;
}
.bg-login{
     width: 100%;
    height: 100vh;
    background-image: url("../img/1.jpg");
    background-size: cover;
}

.bg-login::before{
    background-color: black;
    content: "";
    opacity: 0.7;
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
}
.sidebar{
    height: 100vh;
    width: 10%;
}
.my-sidebar{
    background-color: white;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.my-content{
    width: 80vw;
    height: 96vh;
}
.my-content::before{
    content: "";
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    /* background-image: url("../img/1.jpg"); */
    background-size: cover;
}
.my-content::after{
    content: "";
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    background-color: rgb(234, 239, 248);
}
.nav-link {
    font-size: large;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
    display: block;
    color: #4e4e4e;
}

.nav-item:first-child{
    margin-top: 20px;
}
.fs-4{
    font-weight: 600;
    margin-left: 10px;
}
.my-btn{
    background-color: rgb(8, 49, 198);
    color:white;
    margin: auto;   
}
.fa-house{
    margin-right: 15px;
}
.fa-bell{
    margin-right: 19px;
}
.fa-user-tie{
    margin-right: 19px;
}
.fa-hand{
    margin-right: 18px;
}
.fa-building{
    margin-right: 17px;
}

.my-body{
    width: 78vw;
    height: 87vh;
    background-color: white;
    margin-left: 310px;
    margin-top: 15px;
    border-radius: 20px; 
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    
}
.my-tb-body{
    width: 52vw;
    height: 87vh;
    background-color: white;
    margin-left: 295px;
    margin-top: 15px;
    border-radius: 20px; 
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.my-addtb-form{
    width: 25vw;
    height: 87vh;
    background-color: white;
    margin-left: 1125px;
    margin-top: 15px;
    border-radius: 20px; 
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.my-button-add{
    width: 78vw;
    height: 6vh;
    background-color: rgb(255, 255, 255);
    margin-left: 310px;
    margin-top: 640px;
    border-radius: 20px; 
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.my-add-form{
    width: 50vw;
    background-color: white;
    margin-left: 500px;
    margin-top: 20px;
    border-radius: 25px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.my-footer-tb{
    width: 79vw;
    height: 6vh;
    background-color: rgb(255, 255, 255);
    margin-left: 295px;
    margin-top: 640px;
    border-radius: 20px; 
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.fa-right-from-bracket{
    margin-left: 16px;
}
.fa-right-to-bracket{
    margin-left: 12px;
}
.my-table{
    max-height: 470px;
    overflow-y: auto; 
    overflow-x: hidden;
}
.my-header-table{
    position: sticky;
    top: 0; 

}
input[type="date"] {
    font-size: 16px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
  }
  input[type="date"]:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  }
  input[type="date"]:hover {
    border-color: #999;
  }
.my-logo{ 
    object-fit: cover;  
    border-radius: 15px 15px 0 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.my-btn1{
    height: 40px;
}
    
.copy-right{
    margin-top: 11px;
    margin-left: 6px;
    font-weight: 500;
}
.my-alert{
    width: 100px;
    height: 35px;
    background-color:#67c790;
}
.profile{
    width: 97px;
    height: 97px;
    border-radius: 50%;
    object-fit: cover;
    
}
.img-profile{
    width: 97px;
    height: 97px;
    margin: auto;
}
.img-table{
    width: 50px;
    height: 50px;
}
.profile-table{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.table td{
  vertical-align: middle;
}
.my-tb-content{
    max-height: 470px;
    overflow-y: auto; 
    overflow-x: hidden;
}